<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Teampass</title>
        <link rel="stylesheet" href="css/index.css">
        <link href="css/fontawesome.css" rel="stylesheet">
    </head>
    <body>


<div id="vue" v-cloak>

    <p>
        <input type="password" placeholder="Master passphrase" autofocus
            v-model="master">
        <i :class=" checksumPass() " title="Remember the icon for next time, to check that you typed the password correctly."></i>

        <span style="margin: 1em;">
            Enter a master passphrase.
        </span>
    </p>
    <p>Many passwords will be generated below.</p>
    <p><small><i>Tip: Remember the icon for next time, to check that you typed the password correctly.</i></small></p>

    <hr>

    <!-- <span v-for="icon in icons">
        <i class="fas" :class=" 'fa-'+icon "></i>
    </span> -->

    <p v-for="(name,i) in names">
        <input v-model="names[i]">
            <i :class=" checksumName(name) " title="Remember this icon to check that you typed the name correctly."></i>

        <span v-if=" seed ">
            <code class="indent">{{ showPass ? getPass(name) : getHidden() }}</code>

            <button class="copyable" :data-clipboard-text=" getPass(name) ">
                <i class="fas fa-fw fa-clipboard"></i>
            </button>
        </span>
    </p>

    <p><label>
        <input type="checkbox" v-model="showPass">
        <code>*</code>
        Show secrets
    </label></p>

    <p>Generate:</p>
    <div class="indent">
        <p><label>
            <input type="radio" v-model="outputFormat" value="password">
            Passwords
        </label></p>
        <p><label>
            <input type="radio" v-model="outputFormat" value="pin">
            PIN numbers
        </label></p>
        <p><label>
            <input type="radio" v-model="outputFormat" value="hex">
            256 bits hex keys
        </label></p>
    </div>


    <!-- Floating arrow pointing at the address bar. -->
    <div v-if=" settingsInUrl "
        style="position: fixed; top: 0.5em; left: 15em;"
    >
        <i class="fas fa-fw fa-upload fa-3x"></i>
        Share this URL
    </div>

    <p><label>
        <input type="checkbox" v-model=" settingsInUrl ">
        <i class="fas fa-fw fa-upload"></i>
        Save settings as a URL
    </label></p>

</div>

<script src="vue-2.5.13.js"></script>
<script src="sha3.js"></script>
<script src="lodash-4.16.0.js"></script>
<script src="clipboard-1.7.1.js"></script>

<script src="teampass.js"></script>
<script src="index.js"></script>

</body></html>