<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Teampass</title>
        <link rel="stylesheet" href="css/index.css">
        <link href="css/fontawesome.css" rel="stylesheet">
    </head>
    <body>


<div id="vue">

    <p>
        <input type="password" placeholder="Master passphrase" autofocus
            v-model="master">
        <i :class=" checksumPass() " title="Remember the icon for next time, to check that you typed the password correctly."></i>

        <span style="margin: 1em;">
            Enter a master passphrase.
        </span>
    </p>
    <p>Many passwords will be generated below.</p>
    <p><small><i>Tip: Remember the icon for next time, to check that you typed the password correctly.</i></small></p>

    <hr>

    <!-- <span v-for="icon in icons">
        <i class="fas" :class=" 'fa-'+icon "></i>
    </span> -->

    <p v-for="(name,i) in names">
        <input v-model="names[i]">
            <i :class=" checksumName(name) " title="Remember this icon to check that you typed the name correctly."></i>

        <span v-if=" seed " v-cloak>
            <code>{{ showPass ? getPass(name) : getHidden() }}</code>

            <button class="copyable" :data-clipboard-text=" getPass(name) ">
                <i class="fas fa-clipboard"></i>
            </button>
        </span>
    </p>

    <p><label>
        <input type="checkbox" v-model="showPass">
        Show passwords
    </label></p>

    <p><label>
        <input type="checkbox" v-model="asKey">
        As 256 bits hex key
    </label></p>

</div>

<script src="vue-2.5.13.js"></script>
<script src="sha3.js"></script>
<script src="lodash-4.16.0.js"></script>
<script src="clipboard-1.7.1.js"></script>

<script src="teampass.js"></script>
<script src="index.js"></script>

</body></html>